*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color:#bdc15c;
    z-index: 100;
}
a{
    text-decoration: none;
    margin:15px;
    color:aliceblue;
    transform: scale(1);
    transition: 0.2s;
    float:left;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

a:hover {
border-radius: 28px;
 background-color:#b7bb5b;
 color:black;
 transform: scale(1.3);
}

.frontal-bar{
background-color: bisque;
}
.title{
    position:absolute;
    top:40%;
    left:42%;
    color:rgb(63, 112, 132);
    font-size: 40px;
}
.search-bar{
    position:absolute;
    top:50%;
    left:42%;
    color: black;
  font-size: 16px;
  padding:12px 24px;
  border: none;
  border-color:aliceblue;
  cursor: pointer;
  border-radius: 15px;
  opacity: 40%;
  
}
.search-bar:hover {
    background-color: white;
    opacity: 80%;
   }
.middle-bar{
background-color:rgb(222, 204, 180);
}

.bottom-bar{
background-color: aquamarine; 
}